# This is the Coverage.py configuration file. This is used by Travis-CI when running
# the tests and collecting coverage

[run]

branch=True
data_file=.coverage
disable_warnings=
    trace-changed
    module-not-python
    module-not-imported
    no-data-collected
    module-not-measured
    # include-ignored
debug=
#    callers
#    dataio
#    multiprocess
#    dataio
#    dataop
#    pid
#    plugin
#    process
#    sys
#    trace
omit=
    */cylc/flow/tests/*
    */cylc/flow/profiler.py
    */cylc/flow/parsec/tests/*
    */cylc/flow/*_pb2.py
parallel = True
source=
    ./cylc

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
fail_under=0
ignore_errors = False
omit=
    */cylc/flow/tests/*
    */cylc/flow/profiler.py
    */cylc/flow/parsec/tests/*
    */cylc/flow/*_pb2.py

[html]
directory=htmlcov

[xml]
output=coverage.xml
package_depth=99
