# This is the Coverage.py configuration file.

[run]

branch=True
concurrency=thread
data_file=.coverage
disable_warnings=
    trace-changed
    module-not-python
    module-not-imported
    no-data-collected
    module-not-measured
omit=
    */cylc/flow/tests/*
    */cylc/flow/parsec/tests/*
    */cylc/flow/profiler.py
    */cylc/flow/*_pb2.py
parallel=True
source=
    ./cylc


[report]

exclude_lines=
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
fail_under=0
ignore_errors=False
include=
omit=
    */cylc/flow/tests/*
    */cylc/flow/parsec/tests/*
    */cylc/flow/profiler.py
    */cylc/flow/*_pb2.py
partial_branches=
precision=2
show_missing=False
skip_covered=False
sort=Name


[html]

directory=htmlcov


[xml]

output=coverage.xml
package_depth=99
