__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
*.md
!README*.md
.ssh

# global gitignore
.project
.settings/
.classpath
.pydevproject

.idea/
*.iml

.ipynb_checkpoints/

.pytest_cache/

venv

# project gitignore

*.py[cod]
*.swp
doc
.vscode
ext
*.rc.processed
passphrase
.profiling
.coverage
.coverage.*
coverage.xml
htmlcov
build
dist
MANIFEST
cylc.egg-info
cylc_flow.egg-info
.eggs

.mypy_cache

