#!Jinja2

# whether or not ssh messaging is used back from the remote host is
# determined by the [hosts] section in site/user config files.

[cylc]
    [[reference test]]
        live mode suite timeout = PT30S
        suite shutdown event handler = cleanup.sh
[scheduling]
    [[dependencies]]
        graph = "foo => bar"
[runtime]
    [[foo]]
        script = "/bin/true"
    [[bar]]
        script = "/bin/true"
