[cylc]
   UTC mode = True
   [[reference test]]
       expected task failures = fixable.19700101T0000Z, fixable.19900101T0000Z, fixable.20100101T0000Z
[scheduling]
    initial cycle point = 1970
    final cycle point = 2010
    [[graph]]
# Unhandled failures stay around for retriggering by "fixer"
# fixable in the first two cycles fail and get retriggered,
# but is left as failed in the last cycle.
        P20Y = fixable
        R1/2010 = """
           fixer & fixable:fail => z"""
[runtime]
    [[fixable]]
        script = test "${CYLC_TASK_SUBMIT_NUMBER}" -eq 2
    [[fixer]]
        script = """
wait
cylc__job__poll_grep_suite_log 'fixable.1970.* failed'
cylc__job__poll_grep_suite_log 'fixable.1990.* failed'
cylc trigger2 "${CYLC_SUITE_NAME}" '19*/*'
"""
    [[z]]
        script = true
