name: check docs when configs updated

on:
  workflow_dispatch:
  pull_request:
    paths:
        - 'cylc/flow/cfgspec/workflow.py'
        - 'cylc/flow/cfgspec/globalcfg.py'

jobs:
    trigger:
        runs-on: 'ubuntu-latest'
        timeout-minutes: 10
        steps:
            - run: |
                  curl -L \
                  -X POST \
                  -H "Accept: application/vnd.github+json" \
                  -H "Authorization: Bearer "${GITHUB_TOKEN}" \
                  -H "X-GitHub-Api-Version: 2022-11-28" \
                  https://api.github.com/repos/wxtim/cylc-doc/dispatches \
                  -d '{"event_type":"updated_config"} # ,"client_payload":{"unit":false,"integration":true}}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
